<div class='top_up animate__animated animate__fadeInLeft'></div>
<div class='top animate__animated animate__fadeInUp '>
<h1 class='top_title'>My roadmap</h1>
<h3 class='top_subtitle'>~自分のゴールへと~</h3>
</div>
<div class='top_under animate__animated animate__fadeInRight'></div>