* {
  box-sizing: border-box;
}

.top-page-header{
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: #87ceeb;
  border: 2px solid #000000;
}

.header-right{
  width: 300px;
  text-align: center;
  margin: auto 0;
  border: 2px solid #000000;
}

.header-right h3{
  font-size: 40px;
}

